{:plugins          [kalar-plugins.templates.hiccup/hiccup
                    kalar-plugins.file.cpy/cpy]
 :title       "Lorem Ipsum"
 :dest         "_site"
 :template-hiccup-ns kalar-template.template
 :cpy ["css" "fonts" "js"]}