{:dest "resources/_site"
 :post-dir "resources/posts"
 :page-dir "resources/pages"
 :pagination-pattern "page:num.html"
 :posts-per-page 3
 :pagination-template kalar-template.template/paginate-template
 :copy #{"css" "fonts" "js"}
}