{:plugins          [kalar-plugins.templates.page/page
                    kalar-plugins.templates.hiccup/hiccup
                    kalar-plugins.file.cpy/cpy
                    ]
 :title "Lorem Ipsum"
 :dest "_site"
 :posts-dir "resources/posts"
 :page-dir "resources/pages"
 :post-url-pattern "/posts/post:num.html"
 :template-hiccup-ns kalar-template.template
 :cpy ["css" "fonts" "js"]}