nav.navbar {
  border-top: 1px solid rgba(0,0,0,.15);
  border-bottom: 1px solid rgba(0,0,0,.15);
  color: rgba(0,0,0,.8);
}

@media(min-width: 550px) {
  nav.navbar ul li {
    display: inline;
    padding-right: 5rem;
  }
}

nav.navbar ul  {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
nav.navbar ul li {
  text-align: center;
  margin-top : 1rem;
  list-style-type: none;
}

header.hd {
  margin-top: 6rem;
}

article.post {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0,0,0,.15);
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  color: rgba(0,0,0,.8);
  /* line-height: 1.58; */
  font-size: 2rem;
  /* letter-spacing: -.003em; */
}

article.post header .date {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  color: rgba(0,0,0,.44);
  /* line-height: 1.22; */
  font-weight: lighter;
  font-size:1.7rem;
  /* letter-spacing: -.022em; */
}

.pagenate {
  padding-top: 3rem;
  text-align: center;
  color: rgba(0,0,0,.8);
}

.pagenate li.disable {
  color: rgba(0,0,0,.44);
}

.pagenate ul li {
  font-size: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: inline;
}





