h2.title {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    color: rgba(0,0,0,.8);
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h1.heading {
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  line-height: 1.2;
  letter-spacing: -.1rem;
  margin-top: 1em;
  font-size: 3rem;
  margin-bottom: 0;
}

body div.container div.row article.post header {
  margin-bottom: 2rem;
}

@media(min-width: 550px) {
  h2.title {
    font-size: 5.0rem;
  }
  body div.container div.row article.post header {
    margin-bottom: 3rem;
  }
}



body div.container div.row footer.footer {
  margin-top: 5rem;
}
